@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .gradient-text {
    @apply bg-gradient-to-br from-pink-500 to-orange-400 inline-block text-transparent bg-clip-text;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
